<div class="pokemon-list">
  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title class="pokemon-font pokemon-name">Pikachu</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="" />
    <mat-card-footer class="pokemon-font pokemon-type electric">
      ELEKTRYCZNY
    </mat-card-footer>
  </mat-card>

  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title class="pokemon-font pokemon-name">Bulbasaur</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="" />
    <mat-card-footer class="pokemon-font pokemon-type grass">
      TRAWIASTY
    </mat-card-footer>
  </mat-card>

  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title class="pokemon-font pokemon-name">Charmander</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="" />
    <mat-card-footer class="pokemon-font pokemon-type fire">
      ognisty
    </mat-card-footer>
  </mat-card>
</div>
